:root{
    --first-color: #36c;
    --second-color: #f8f9fa;
    --text-color: #54595d;
}
*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
p{
    color: var(--text-color)
}
a{
    text-decoration: none;
    color: var(--first-color)
}
.icon-pic{
    background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-46c49284.svg);
}
body{
    width: 100vw;
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-top: 2rem;
    width: 100%;
}
header img{
    width: 5.7rem;
    height: 5.7rem;
}
header h1 span{
    display: flex;
    justify-content: center;
    font-family: Linux Libertine,Georgia,Times,serif;
    
}
header h1 .title{
    font-size: 3.2rem;
    color: transparent;
    width: 15rem;
    height: 2.5rem;
    background-position: 0 -218px;
    background-size: 100%;
}
header h1 .subtitle{
    font-size: 1.4rem;
    font-weight: 400;
    text-indent: .2rem;
    margin-top: 0.5rem;
}
main{
    width: 100%;
    padding: 1rem;
}
main .search-section{
    width: 100%;   
}
main .search-section .search-bar{
    display: flex;
    padding: 0 1rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height: 4.4rem;
    margin: 0.5rem 0;
    
}
main .search-section .search-bar  input{
    width: calc(100vw - 4rem);
    height: 4.4rem;
    display: flex;
    position: absolute;
    border: solid 0.1rem #b9bfc5;
    padding: 1rem 11rem 1rem 1rem;
}
main .search-section .search-bar input:hover{
    border-color: #72777d;
}
main .search-section .search-bar input:focus{
    outline: none;
    border-color: var(--first-color); 
    box-shadow: inset 0 0 0 1px var(--first-color); 
}
main .search-section .search-bar #select-language{
    position: relative;
    z-index: 1;
    width: 3.9rem;
    height: 4rem;
    color: grey;
    border: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-right: 1.6rem;
    background-color: rgba(255, 255, 255, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main .search-section .search-bar #select-language:focus{
    outline: none;
    border: solid 0.1rem var(--first-color);
}
main .search-section .search-bar .icon-search-box{
    position: relative;
    z-index: 1;
    min-width: 5.6rem; 
    height: 4.4rem;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
main .search-section .search-bar .icon-search-box:hover{
    background-color: #447ff5;
}
main .search-section .search-bar .icon-search-box a{
    color: white;
    font-size: 2.2rem;
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(transparent,transparent),url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-46c49284.svg);
    background-position: 0 -697px;
    vertical-align: middle;
    width: 22px;
    height: 22px;    
}
main .search-section .principal-language{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1.6rem;
}
main .search-section .principal-language .info-language-box{
    width: 33.3%;
    height: 6.4rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.6rem;
    margin-bottom: 1.6rem;
}
.principal-language .info-language-box a{
    color: var(--first-color);
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0.4rem;
}
.principal-language .info-language-box a:hover{
    text-decoration: underline;
}
.principal-language .info-language-box p{
    text-align: center;
}
main .search-section .other-language{
    border-radius: 0.2rem;
    border: 1px solid #a2a9b1;
    outline: 1.6rem solid #fff;
    background-color: var(--second-color);
    display: flex;
    padding: 0.6rem 1.2rem;
    margin: 2rem auto 4rem auto;
    width: 26.766rem;
    height: 3.6rem;
    justify-content: space-evenly;
    align-items: center;
}
main .search-section .other-language:hover{
    background-color: #fff;
}
main .search-section .other-language:focus{
    border-color: var(--first-color);
    box-shadow: inset 0 0 0 1px var(--first-color);
}
main .search-section .other-language .language-icon{
    width: 2.2rem;
    height: 2.2rem;
    background-position: 0 -617px;
}
main .search-section .other-language a{
    color: var(--first-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0 0.64rem;
}
main .search-section .other-language span{
    color: var(--first-color);
    font-size: 1.4rem;
    font-weight: 500;
}
main .search-section .line{
    background-color: #c8ccd1;
    display: block;
    position: relative;
    max-width: 460px;
    width: 80%;
    margin: -16px auto 16px;
    margin: -1.6rem auto 1.6rem;
    height: 1px;
    transition: max-width .2s ease-out 400s;
    top: -40px;
    z-index: -1;
}
main .support{
    display: flex;
    flex-direction: column;
    padding: 0.96rem 0.64rem 1.28rem 0.64rem;
    width: 100%;
    border-top: solid 0.1rem #d0d3d7;
}
main .support .principal-fondation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}
main .support .principal-fondation i{
    background-position: 0 -212px;
    width: 42px;
    height: 42px;
    margin-bottom: 1.5rem;
}
main .support .principal-fondation p{
    text-align: center;
}

main .support .other-fondation{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
main .support .other-fondation .fondation-box{
    display: grid;
    grid-template-columns: 4.7rem 1fr;
    width: 50%;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-bottom: 4rem;
    padding-right: 1rem;
}
main .support .other-fondation .fondation-box div{
    grid-column: 2;
    padding-left: 0.5rem;
}
main .support .other-fondation .fondation-box h3{
    font-size: 1.4rem;
    color: var(--first-color);
    font-weight: normal;

}
main .support .other-fondation .fondation-box .icon-box-one{
    background-position: 0 0;
    width: 47px;
    height: 47px;
}
main .support .other-fondation .fondation-box .icon-box-two{
    background-position: 0 -446px;
    width: 36px;
    height: 36px;
}
main .support .other-fondation .fondation-box .icon-box-three{
    background-position: 0 -482px;
    width: 37px;
    height: 37px;
}
main .support .other-fondation .fondation-box .icon-box-fourth{
    background-position: 0 -126px;
    width: 37px;
    height: 37px;
}
main .support .other-fondation .fondation-box .icon-box-five{
    background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikinews-logo_sister@2x.png);
    background-size: 47px 26px;;
    width: 47px;
    height: 26px;
}
main .support .other-fondation .fondation-box .icon-box-six{
    background-position: 0 -163px;
    width: 49px;
    height: 49px;
}
main .support .other-fondation .fondation-box .icon-box-seven{
    background-position: 0 -409px;
    width: 43px;
    height: 37px;
}
main .support .other-fondation .fondation-box .icon-box-eigth{
    background-position: 0 -286px;
    width: 42px;
    height: 42px;
}
main .support .other-fondation .fondation-box .icon-box-nine{
    background-position: 0 -47px;
    width: 42px;
    height: 42px;
}
main .support .other-fondation .fondation-box .icon-box-ten{
    background-position: 0 -328px;
    width: 39px;
    height: 39px;
}
main .support .other-fondation .fondation-box .icon-box-eleven{
    background-position: 0 -367px;
    width: 42px;
    height: 42px;
}
main .support .other-fondation .fondation-box .icon-box-twelve{
    background-position: 0 -89px;
    width: 37px;
    height: 37px;
}
main .support .download-app{
    background-color: var(--second-color);
    width: 100%;
    padding: 0.8rem 0;
    display: flex;
    flex-direction: column;
}
main .support .download-app div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}
main .support .download-app div i{
    background-position: 0 -719px;
    width: 42px;
    height: 42px;
    margin-right: 0.2rem;
    transform: scale(0.7);
}
main .support .download-app div h2{
    color: #54595d;
    font-weight: 700;
    font-size: 1.3rem;
    display: inline-block;
}
main .support .download-app p{
    margin: 1.3rem 0;
    text-align: center;
}
main .support .download-app div .play-store-button{
    background-position: 0 -541px;
    width: 124px;
    height: 38px;
}
main .support .download-app div .app-store-button{
    background-position: 0 -579px;
    width: 110px;
    height: 38px;
}
footer{
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    padding: 2rem;
    line-height: 1.5;
}
footer p .other-information::before{
    content: "\2022";
    display: inline-block;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: inherit;
    margin-left: .8rem;
    margin-right: .8rem;
    color: var(--text-color)
}